﻿
@{
    ViewData["Title"] = "Home Page";
}

<div id="container" style="width: 1140px">
    <vc:time-table url="2016.json"
                   title=""
                   width="100%"
                   auto-scroll="em"
                   add="Add to program"
                   remove="Remove from program"
                   time-print="em"></vc:time-table>
</div>
