﻿@model TimeTableConverter.Models.TimeTableModel
@{
    var settings = Model.Settings;
    var timeTables = Model.timetable;
}
<!-- Timeline wrapper -->
<div class="tl_container" style="width: @Model.Settings.width;">
    @if (!string.IsNullOrEmpty(Model.Settings.title))
    {
        <p class="tl_timeline_title">@Model.Settings.title</p>
    }
        <div data-autoscroll="true" class="tl_timeline" data-increment="4" data-hours="9" data-indicatorbar="true" data-expand="true">
            <div>
                <span style="position: absolute; left: 120px;top: 5px;">Tax year</span><span style="position: absolute; left: 120px;top: 33px;">Calendar year</span>
            </div>
            <div style="left: 0px;" class="tl_time_selector_bar">
                <ul>
                    <li style="border-left: 0px;background: rgba(0,0,0,.2);">12/1/2015</li>
                    <li style="background: rgba(0,0,0,.2);">12/15/2015</li>
                    <li>1/1/2016</li>
                    <li>1/15/2016</li>
                    <li>2/1/2016</li>
                    <li>2/15/2016</li>
                    <li>3/1/2016</li>
                    <li>3/15/2016</li>
                    <li>4/1/2016</li>
                    <li>3/15</li>
                    <li>4/1</li>
                    <li>4/15</li>
                    <li>5/1</li>
                    <li>5/15</li>
                    <li>Jun 1</li>
                    <li>Jun 15</li>
                </ul>
                <div class="tl_clear">&nbsp;</div>
            </div>
            <div class="tl_time_indicator">
                <div class="tl_slidable" style="width: 1400px; left: 0px;">
                    <ul>
                        <li style="border-left: 0px;">Nov 1/15</li>
                        <li>Nov 15/15</li>
                        <li>Dec 1/15</li>
                        <li>Dec 15/15</li>
                        <li>Jan 1/16</li>
                        <li>Jan 15/16</li>
                        <li>Feb 1/16</li>
                        <li>Feb 15</li>
                        <li>Mar 1</li>
                        <li>Mar 15</li>
                        <li>Apr 1</li>
                        <li>Apr 15</li>
                        <li>May 1</li>
                        <li>May 15</li>
                        <li>Jun 1</li>
                        <li>Jun 15</li>
                    </ul>
                    <div class="tl_clear">&nbsp;</div>
                </div>
            </div>
            <a class="tl_next" href="#" style="display: none;"></a>
            <a class="tl_previous" href="#" style="display: none;"></a>
            <div class="tl_location">
                <div class="tl_the_location" data-location="1">
                    <h3>Paris</h3>
                    <p class="tl_the_location_subtitle">Champs-Élysée</p>
                </div>
                <div class="tl_the_timeline" style="width: 739px;">
                    <div class="tl_the_timeline_content tl_slidable" style="width: 1400px; left: 0px;">
                        <div data-show-description="false" class="tl_event" data-eventid="1" data-event="1" style="left: 0px; width: 297px;" data-location="1">
                            <span class="tl_event_time">Nov 1-Dec 15</span>
                            <h2>Miles Davis</h2>
                            <p class="tl_subtitle">Kind of Blue</p>
                            <div class="tl_event_program_indicator"></div>
                        </div>
                        <div data-show-description="true" class="tl_event" data-eventid="2" data-event="2" style="left: 350px; width: 147px;" data-location="1" data-info-showing="false">
                            <span class="tl_event_time">Dec 22-Jan 15</span>
                            <h2>John Coltrane</h2>
                            <p class="tl_subtitle">A Love Supreme</p>
                            <div class="tl_event_program_indicator"></div>
                        </div>
                        <div data-show-description="true" class="tl_event" data-eventid="3" data-event="3" style="left: 500px; width: 497px;" data-location="1" data-info-showing="false">
                            <span class="tl_event_time">10:30pm - 1:00am</span>
                            <h2>The Dave Brubeck Quartet</h2>
                            <p class="tl_subtitle">Time Out</p>
                            <div class="tl_event_program_indicator"></div>
                        </div>
                    </div>
                    <div class="tl_event_details" data-start="20:00" data-event="1">
                        <a data-group="youtube" class="youtube cboxElement" href="http://www.youtube.com/embed/FEPFH-gz3wE?wmode=transparent&amp;showsearch=0&amp;version=3&amp;iv_load_policy=3&amp;showinfo=1&amp;rel=0&amp;autoplay=1&amp;theme=light&amp;color=red&amp;modestbranding=1">
                            <img src="http://img.youtube.com/vi/FEPFH-gz3wE/2.jpg" class="youtubethumb" alt="" width="130" height="97">
                        </a>
                        <div class="tl_description_bottom"><a href="#" data-eventid="1" data-add-text="Add to program" data-prefix="8b0a6f38c236e887e2c0f813f2c26950" data-remove-text="Remove from program" data-event="1" data-start="20%3A00" class="tl_program_button" data-val="false">Add to program</a></div>
                        <div class="tl_clear">&nbsp;</div>
                    </div>
                    <div class="tl_event_details" data-start="21:45" data-event="2" style="display: none;">
                        <a data-group="youtube" class="youtube cboxElement" href="http://www.youtube.com/embed/92T4DQqQApE?wmode=transparent&amp;showsearch=0&amp;version=3&amp;iv_load_policy=3&amp;showinfo=1&amp;rel=0&amp;autoplay=1&amp;theme=light&amp;color=red&amp;modestbranding=1">
                            <img src="http://img.youtube.com/vi/92T4DQqQApE/2.jpg" class="youtubethumb" alt="" width="130" height="97">
                        </a>
                        A Love Supreme is often listed amongst the greatest jazz albums of all time. It was also quite popular for a jazz album, selling about 500,000 copies by 1970, a number far exceeding Coltrane's typical Impulse! sales of around 30,000.[18] As further testimony to the recording's historic significance, the manuscript for the album is one of the National Museum of American History's "Treasures of American History", part of the collection of the Smithsonian Institution.
                        <br>
                        <br>
                        <br>In 2003, the album was ranked number 47 on Rolling Stone magazine's list of the 500 greatest albums of all time. The publication called it a "legendary album-long hymn of praise" and stated "The indelible four-note theme of the first movement, 'Acknowledgment,' is the humble foundation of the suite.
                        <div class="tl_description_bottom"><a href="#" data-eventid="2" data-add-text="Add to program" data-prefix="8b0a6f38c236e887e2c0f813f2c26950" data-remove-text="Remove from program" data-event="2" data-start="21%3A45" class="tl_program_button" data-val="false">Add to program</a></div>
                        <div class="tl_clear">&nbsp;</div>
                    </div>
                    <div class="tl_event_details" data-start="22:30" data-event="3" style="display: none;">
                        <a data-group="youtube" class="youtube cboxElement" href="http://www.youtube.com/embed/vmDDOFXSgAs?wmode=transparent&amp;showsearch=0&amp;version=3&amp;iv_load_policy=3&amp;showinfo=1&amp;rel=0&amp;autoplay=1&amp;theme=light&amp;color=red&amp;modestbranding=1">
                            <img src="http://img.youtube.com/vi/vmDDOFXSgAs/2.jpg" class="youtubethumb" alt="" width="130" height="97">
                        </a>
                        "Take Five" is a jazz piece written by Paul Desmond and performed by The Dave Brubeck Quartet on their 1959 album Time Out. Recorded at Columbia's 30th Street Studios in New York City on June 25, July 1, and August 18, 1959, this piece became one of the group's best-known records, famous for its distinctive, catchy saxophone melody and use of the unusual quintuple (5/4) time, from which its name is derived.
                        <br>
                        <br>While "Take Five" was not the first jazz composition to use this meter, it was one of the first in the United States to achieve mainstream significance, reaching #25 on the Billboard Hot 100 and #5 on Billboard's Easy Listening survey, the precursor to today's Adult Contemporary charts, in 1961, two years after its initial release.
                        <div class="tl_description_bottom"><a class="tl_link" href="http://en.wikipedia.org/wiki/Time_Out_%28album%29" title="http://en.wikipedia.org/wiki/Time_Out_%28album%29" target="_blank">The Dave Brubeck Quartet<span class="tl_link_icon"></span></a><a href="#" data-eventid="3" data-add-text="Add to program" data-prefix="8b0a6f38c236e887e2c0f813f2c26950" data-remove-text="Remove from program" data-event="3" data-start="22%3A30" class="tl_program_button" data-val="false">Add to program</a></div>
                        <div class="tl_clear">&nbsp;</div>
                    </div>
                </div>
                <div class="tl_clear">&nbsp;</div>
            </div>
            <div class="tl_location">
                <div class="tl_the_location" data-location="2">
                    <h3>Paris</h3>
                    <p class="tl_the_location_subtitle">Élysée Palace</p>
                </div>
                <div class="tl_the_timeline" style="width: 439px;">
                    <div class="tl_the_timeline_content tl_slidable" style="width: 1400px; left: 0px;">
                        <div data-show-description="true" class="tl_event" data-eventid="4" data-event="4" style="left: 50px; width: 147px;" data-location="2" data-info-showing="false">
                            <span class="tl_event_time">8:15pm - 9:00pm</span>
                            <h2>Charles Mingus</h2>
                            <p class="tl_subtitle">Mingus Ah Um</p>
                            <div class="tl_event_program_indicator"></div>
                        </div>
                        <div data-show-description="true" class="tl_event" data-eventid="5" data-event="5" style="left: 200px; width: 397px;" data-location="2" data-info-showing="false">
                            <span class="tl_event_time">9:00pm - 11:00pm</span>
                            <h2>Cannonball Adderley</h2>
                            <p class="tl_subtitle">Somethin' Else</p>
                            <div class="tl_event_program_indicator"></div>
                        </div>
                        <div data-show-description="true" class="tl_event" data-eventid="6" data-event="6" style="left: 600px; width: 597px;" data-location="2">
                            <span class="tl_event_time">11:00pm - 2:00am</span>
                            <h2>Sonny Rollins</h2>
                            <p class="tl_subtitle">Saxophone Colossus</p>
                            <div class="tl_event_program_indicator"></div>
                        </div>
                    </div>
                    <div class="tl_event_details" data-start="20:15" data-event="4" style="display: none;">
                        "Mingus pays homage to jazz history through tracks laced with gospel, soul, blues, swing, hard bop and a touch of the avant-garde. The bassist would go on to record at least three more great records in the coming decade. This album, however, is the best place to start for listeners looking for a soulful introduction to this great musician's work.
                        <div class="tl_description_bottom"><a href="#" data-eventid="4" data-add-text="Add to program" data-prefix="8b0a6f38c236e887e2c0f813f2c26950" data-remove-text="Remove from program" data-event="4" data-start="20%3A15" class="tl_program_button" data-val="false">Add to program</a></div>
                        <div class="tl_clear">&nbsp;</div>
                    </div>
                    <div class="tl_event_details" data-start="21:00" data-event="5" style="display: none;">
                        <a href="http://farm4.static.flickr.com/3181/2550065074_1cb12522f3_z.jpg" class="tl_event_image cboxElement" title="Cannonball Adderley"><img alt="Cannonball Adderley" src="http://farm4.static.flickr.com/3181/2550065074_1cb12522f3_z.jpg"></a>Julian "Cannonball" Adderley's albums from the late-50s all had one thing common - a great supporting cast. In this case the backup includes Miles Davis on trumpet and pianist Hank Jones, with Sam Jones and drummer Art Blakey driving the rhythm section. A true classic of hard bop, the remastered CD release sports an extra track.
                        <div class="tl_description_bottom"><a href="#" data-eventid="5" data-add-text="Add to program" data-prefix="8b0a6f38c236e887e2c0f813f2c26950" data-remove-text="Remove from program" data-event="5" data-start="21%3A00" class="tl_program_button" data-val="false">Add to program</a></div>
                        <div class="tl_clear">&nbsp;</div>
                    </div>
                    <div class="tl_event_details" data-start="23:00" data-event="6">
                        <a href="http://farm3.static.flickr.com/2125/2551663573_57945d1c84_b.jpg" class="tl_event_image cboxElement" title="Sonny Rollins"><img alt="Sonny Rollins" src="http://farm3.static.flickr.com/2125/2551663573_57945d1c84_b.jpg"></a>New kid on the block Rollins was an original from the start. This early record is a jazz masterpiece. Classic original compositions 'St. Thomas' and 'Blue Seven' bookend three other fine tunes, highlighted by drummer Max Roach and pianist Tommy Flanagan faultlessly plying their crafts. Overall, there isn't a wasted moment in sight
                        <div class="tl_description_bottom"><a href="#" data-eventid="6" data-add-text="Add to program" data-prefix="8b0a6f38c236e887e2c0f813f2c26950" data-remove-text="Remove from program" data-event="6" data-start="23%3A00" class="tl_program_button" data-val="false">Add to program</a></div>
                        <div class="tl_clear">&nbsp;</div>
                    </div>
                </div>
                <div class="tl_clear">&nbsp;</div>
            </div>
            <div class="tl_location">
                <div class="tl_the_location" data-location="3">
                    <h3>Paris</h3>
                    <p class="tl_the_location_subtitle">Arc de Triomphe</p>
                </div>
                <div class="tl_the_timeline" style="width: 439px;">
                    <div class="tl_the_timeline_content tl_slidable" style="width: 1400px; left: 0px;">
                        <div data-show-description="true" class="tl_event" data-eventid="7" data-event="7" style="left: 0px; width: 397px;" data-location="3" data-info-showing="false">
                            <span class="tl_event_time">8:00pm - 10:00pm</span>
                            <h2>Herbie Hancock</h2>
                            <p class="tl_subtitle">Maiden Voyage</p>
                            <div class="tl_event_program_indicator"></div>
                        </div>
                        <div data-show-description="true" class="tl_event" data-eventid="8" data-event="8" style="left: 500px; width: 397px;" data-location="3">
                            <span class="tl_event_time">10:30pm - 0:30am</span>
                            <h2>Art Blakey &amp; the Jazz Messengers</h2>
                            <p class="tl_subtitle">Moanin'</p>
                            <div class="tl_event_program_indicator"></div>
                        </div>
                        <div data-show-description="true" class="tl_event" data-eventid="9" data-event="9" style="left: 500px; width: 397px;" data-location="3" data-info-showing="false">
                            <span class="tl_event_time">10:30pm - 0:30am</span>
                            <h2>Ceasar Feijen</h2>
                            <p class="tl_subtitle">On a Journey</p>
                            <div class="tl_event_program_indicator"></div>
                        </div>
                        <div data-show-description="true" class="tl_event" data-eventid="10" data-event="10" style="left: 900px; width: 197px;" data-location="3" data-info-showing="false">
                            <span class="tl_event_time">0:30am - 1:30am</span>
                            <h2>John Coltrane</h2>
                            <p class="tl_subtitle">Giant Steps</p>
                            <div class="tl_event_program_indicator"></div>
                        </div>
                        <div data-show-description="true" class="tl_event" data-eventid="11" data-event="11" style="left: 1100px; width: 297px;" data-location="3" data-info-showing="false">
                            <span class="tl_event_time">1:30am - 3:00am</span>
                            <h2>Thelonious Monk</h2>
                            <p class="tl_subtitle">Brilliant Corners</p>
                            <div class="tl_event_program_indicator"></div>
                        </div>
                    </div>
                    <div class="tl_event_details" data-start="20:00" data-event="7" style="display: none;">
                        <a data-group="youtube" class="youtube cboxElement" href="http://www.youtube.com/embed/hwmRQ0PBtXU?wmode=transparent&amp;showsearch=0&amp;version=3&amp;iv_load_policy=3&amp;showinfo=1&amp;rel=0&amp;autoplay=1&amp;theme=light&amp;color=red&amp;modestbranding=1">
                            <img src="http://img.youtube.com/vi/hwmRQ0PBtXU/2.jpg" class="youtubethumb" alt="" width="130" height="97">
                        </a>
                        Miles Davis disciple Hancock shows he learned his lessons well on this outstanding set of original tracks. With Davis' band in support it is no surprise that the album's modal hard bop is played with faultless precision and efficiency. The added bonus of Freddie Hubbard on trumpet allows the record to hum with a true spirit of adventure.
                        <div class="tl_description_bottom"><a href="#" data-eventid="7" data-add-text="Add to program" data-prefix="8b0a6f38c236e887e2c0f813f2c26950" data-remove-text="Remove from program" data-event="7" data-start="20%3A00" class="tl_program_button" data-val="false">Add to program</a></div>
                        <div class="tl_clear">&nbsp;</div>
                    </div>
                    <div class="tl_event_details" data-start="22:30" data-event="8">
                        <a data-group="youtube" class="youtube cboxElement" href="http://www.youtube.com/embed/VKXsnDvILmI?wmode=transparent&amp;showsearch=0&amp;version=3&amp;iv_load_policy=3&amp;showinfo=1&amp;rel=0&amp;autoplay=1&amp;theme=light&amp;color=red&amp;modestbranding=1">
                            <img src="http://img.youtube.com/vi/VKXsnDvILmI/2.jpg" class="youtubethumb" alt="" width="130" height="97">
                        </a>
                        Drummer Blakey's third incarnation of the Messengers is generally considered the best, despite the fact tenor Benny Golson only lasted a few months with the group. Band members contribute most of the tunes, including the hit title track by pianist Bobby Timmons. Trumpeter Lee Morgan - still only 20 - continues his march to stardom.
                        <div class="tl_description_bottom"><a href="#" data-eventid="8" data-add-text="Add to program" data-prefix="8b0a6f38c236e887e2c0f813f2c26950" data-remove-text="Remove from program" data-event="8" data-start="22%3A30" class="tl_program_button" data-val="false">Add to program</a></div>
                        <div class="tl_clear">&nbsp;</div>
                    </div>
                    <div class="tl_event_details" data-start="22:30" data-event="9" style="display: none;">
                        <a data-group="youtube" class="youtube cboxElement" href="http://www.youtube.com/embed/2aRB5JG9Pus?wmode=transparent&amp;showsearch=0&amp;version=3&amp;iv_load_policy=3&amp;showinfo=1&amp;rel=0&amp;autoplay=1&amp;theme=light&amp;color=red&amp;modestbranding=1">
                            <img src="http://img.youtube.com/vi/2aRB5JG9Pus/2.jpg" class="youtubethumb" alt="" width="130" height="97">
                        </a>
                        'On a Journey' is a song recorded for a funeral.
                        <br>Eric Downing added the bass and guitar later to the song while wout van de Vorst made a nice video to accompany the music.
                        <div class="tl_description_bottom"><a class="tl_link" href="http://audiojungle.net/item/on-a-journey/137462?ref=ceasar" title="http://audiojungle.net/item/on-a-journey/137462?ref=ceasar" target="_blank">Ceasar Feijen<span class="tl_link_icon"></span></a><a href="#" data-eventid="9" data-add-text="Add to program" data-prefix="8b0a6f38c236e887e2c0f813f2c26950" data-remove-text="Remove from program" data-event="9" data-start="22%3A30" class="tl_program_button" data-val="false">Add to program</a></div>
                        <div class="tl_clear">&nbsp;</div>
                    </div>
                    <div class="tl_event_details" data-start="0:30" data-event="10" style="display: none;">
                        <a href="http://farm4.static.flickr.com/3032/2552557888_53123f7094_z.jpg" class="tl_event_image cboxElement" title="John Coltrane"><img alt="John Coltrane" src="http://farm4.static.flickr.com/3032/2552557888_53123f7094_z.jpg"></a>The album's title says it all. While still with Miles Davis' group, Trane managed to push bop to the limits and beyond. His all-original compositions here are built around solos, which was a deconstruction of the modal jazz he was playing with Davis at the time. Most won't notice too much, as it all sounds conventionally pleasing. Essential.
                        <div class="tl_description_bottom"><a href="#" data-eventid="10" data-add-text="Add to program" data-prefix="8b0a6f38c236e887e2c0f813f2c26950" data-remove-text="Remove from program" data-event="10" data-start="0%3A30" class="tl_program_button" data-val="false">Add to program</a></div>
                        <div class="tl_clear">&nbsp;</div>
                    </div>
                    <div class="tl_event_details" data-start="1:30" data-event="11" style="display: none;">
                        <a data-group="youtube" class="youtube cboxElement" href="http://www.youtube.com/embed/9W6mRy4jdk0?wmode=transparent&amp;showsearch=0&amp;version=3&amp;iv_load_policy=3&amp;showinfo=1&amp;rel=0&amp;autoplay=1&amp;theme=light&amp;color=red&amp;modestbranding=1">
                            <img src="http://img.youtube.com/vi/9W6mRy4jdk0/2.jpg" class="youtubethumb" alt="" width="130" height="97">
                        </a>
                        With Max Roach and Sonny Rollins on board, this record is fraught with all the eccentricities and tensions that one might expect from such a gathering of iconoclasts. Nevertheless, it works brilliantly. Despite the complex mathematical nature of Monk's playing, Corners possesses more than enough to satisfy even the toughest of critics.
                        <div class="tl_description_bottom"><a href="#" data-eventid="11" data-add-text="Add to program" data-prefix="8b0a6f38c236e887e2c0f813f2c26950" data-remove-text="Remove from program" data-event="11" data-start="1%3A30" class="tl_program_button" data-val="false">Add to program</a></div>
                        <div class="tl_clear">&nbsp;</div>
                    </div>
                </div>
                <div class="tl_clear">&nbsp;</div>
            </div>
        </div>
    <!-- Close timeline wrapper -->
</div>