
/*
 * Timeline - for jQuery 1.3+
 * http://codecanyon.net/item/timetable-for-events-with-php-jquery-and-xml/546355?ref=RikdeVos
 *
 * Copyright 2012, Rik de Vos
 * You need to buy a license if you want use this script.
 * http://codecanyon.net/user/RikdeVos?ref=RikdeVos
 *
 * Version: 1.2 (Mar 15 2012)
 */

/* SELECTOR BAR */
	.tl_timeline .tl_time_selector_bar {
		background: #fff;
		color: #000;
	}

	.tl_timeline .tl_time_selector_bar .tl_slidable_slider {
	    /* RGBa with .10 opacity */
	    background: rgba(139, 149, 0, .2);
	}
		.tl_timeline .tl_location {
			background: #656565;
			color: #fff;
		}
		.tl_timeline .tl_location .tl_the_location {
         	background: #282828;
            color: #fff;
		}
			.tl_timeline .tl_location .tl_the_location h3 {
				color: #fff;
			}

			.tl_timeline .tl_location .tl_the_location p.tl_the_location_subtitle {
				color: #fff;
			}
/* INDICATOR BAR */
	.tl_timeline .tl_time_indicator {
		background: #434343;
	}

    .tl_timeline .tl_time_indicator ul li {
        color: #fff;
    }
        /* EVENT */
		.tl_timeline .tl_event {
			background: #8B9500;
		}

		.tl_timeline .tl_event:hover {
			background: #1F5FA1;
		}

			.tl_timeline .tl_event[data-info-showing=true] {
				background: #1F5FA1;
			}

			.tl_timeline .tl_event[data-info-showing=true]:after {
				background: #1F5FA1;
			}

		/* DETAILS OF EVENT */

		.tl_timeline .tl_event_details {
			border-top: 1px solid #d2d2d2;
			border-left: 1px solid #d2d2d2;
			background: #1F5FA1;
			color: #fff;
		}
			.tl_timeline .tl_event .tl_event_time {
				color: #fff;
				font-size: 9px;
			}

			.tl_timeline .tl_event h2 {
				font-size: 12px;
				font-weight: bold;
				color: #fff;
			}

			.tl_timeline .tl_event p.tl_subtitle {
				font-size: 10px;
				font-weight: normal;
				color: #fff;
			}
