
/*
 * Timeline - for jQuery 1.3+
 * http://codecanyon.net/item/timetable-for-events-with-php-jquery-and-xml/546355?ref=RikdeVos
 *
 * Copyright 2012, Rik de Vos
 * You need to buy a license if you want use this script.
 * http://codecanyon.net/user/RikdeVos?ref=RikdeVos
 *
 * Version: 1.2 (Mar 15 2012)
 */

/* SELECTOR BAR */
	.tl_timeline .tl_time_selector_bar {
		background: #c1d7e5;
		color: #516b78;
	}

	.tl_timeline .tl_time_selector_bar .tl_slidable_slider {
	    /* RGBa with .10 opacity */
	    background: rgba(30, 40, 55, .2);
	    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#22000000, endColorstr=#22000000);
	}
		.tl_timeline .tl_location {
			background: #0c2742;
		}

		.tl_timeline .tl_location .tl_the_location {
         	background: #6d8ea8;
	        background-image: -webkit-gradient(linear, left top, left bottom, from(#6d8ea8), to(#4b6d87));
			background: -webkit-linear-gradient(top, #6d8ea8, #4b6d87);
			background: -moz-linear-gradient(top, #6d8ea8, #4b6d87);
			background: -o-linear-gradient(top, #6d8ea8, #4b6d87);
			background: -ms-linear-gradient(top, #6d8ea8, #4b6d87);
			background: linear-gradient(top, #6d8ea8, #4b6d87);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#6d8ea8, endColorstr=#4b6d87);
            color: #fff;
		}

			.tl_timeline .tl_location .tl_the_location h3 {
				color: #fff;
			}

			.tl_timeline .tl_location .tl_the_location p.tl_the_location_subtitle {
				color: #fff;
			}

	    .tl_slidable {

	        background: #6d8ea8;
			background-image: -webkit-gradient(linear, left top, left bottom, from(#6d8ea8), to(#4b6d87));
			background: -webkit-linear-gradient(top, #6d8ea8, #4b6d87);
			background: -moz-linear-gradient(top, #6d8ea8, #4b6d87);
			background: -o-linear-gradient(top, #6d8ea8, #4b6d87);
			background: -ms-linear-gradient(top, #6d8ea8, #4b6d87);
			background: linear-gradient(top, #6d8ea8, #4b6d87);
	    }

/* INDICATOR BAR */
	.tl_timeline .tl_time_indicator {
		background: #000;
	}

    .tl_timeline .tl_time_indicator ul li {
        color: #fff;
        text-shadow: 0 -1px 0 #000;
    }
        /* EVENT */
		.tl_timeline .tl_event {
	        background: #819cad;
	        text-shadow: 0 1px 0 rgba(255,255,255,.3);
	        background-image: -webkit-gradient(linear, left top, left bottom, from(#c5dcea), to(#6b8899));
			background: -webkit-linear-gradient(top, #c5dcea, #6b8899);
			background: -moz-linear-gradient(top, #c5dcea, #6b8899);
			background: -o-linear-gradient(top, #c5dcea, #6b8899);
			background: -ms-linear-gradient(top, #c5dcea, #6b8899);
			background: linear-gradient(top, #c5dcea, #6b8899);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#c5dcea, endColorstr=#6b8899);
			color: #2B4754;

	        -moz-border-radius-topleft: 5px;
	        -moz-border-radius-topright:5px;
	        -webkit-border-top-left-radius:5px;
	        -webkit-border-top-right-radius:5px;
	        border-top-left-radius:5px;
	        border-top-right-radius:5px;

			-webkit-box-shadow: 0 0 1px 1px #275b8d;
			-moz-box-shadow: 0 0 1px 1px #275b8d;
			box-shadow: 0 0 1px 1px #275b8d;
		}

			.tl_timeline .tl_event[data-info-showing=true], .tl_timeline .tl_event:hover {
		        background: #afc5d3;
		        background-image: -webkit-gradient(linear, left top, left bottom, from(#e0ebf2), to(#a6c1d0));
				background: -webkit-linear-gradient(top, #e0ebf2, #a6c1d0);
				background: -moz-linear-gradient(top, #e0ebf2, #a6c1d0);
				background: -o-linear-gradient(top, #e0ebf2, #a6c1d0);
				background: -ms-linear-gradient(top, #e0ebf2, #a6c1d0);
				background: linear-gradient(top, #e0ebf2, #a6c1d0);
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e0ebf2, endColorstr=#a6c1d0);

				-webkit-box-shadow: 0 0 5px #7499bc;
				-moz-box-shadow: 0 0 5px #7499bc;
				box-shadow: 0 0 5px #7499bc;
			}

			.tl_timeline .tl_event[data-info-showing=true]:after {
				background: #a6c1d0;
			}


		.tl_timeline .tl_the_timeline .tl_the_timeline_content {
            background: #0c2742 url(../images/grid_white.png) repeat left top;

		}

		/* DETAILS OF EVENT */

		.tl_timeline .tl_event_details {
			border-top: 1px solid #c5d8e2;
			border-left: 1px solid #c5d8e2;
			background: #a6c1d0;
			color: #1a2838;
			text-shadow: 0 1px 0 rgba(255,255,255,.3);

	        -moz-border-radius-bottomleft:20px;
	        -moz-border-radius-bottomright:20px;
	        -webkit-border-bottom-left-radius:20px;
	        -webkit-border-bottom-right-radius:20px;
	        border-bottom-left-radius:20px;
	        border-bottom-right-radius:20px;

		}
			.tl_timeline .tl_event .tl_event_time {
				color: #2B4754;
				font-size: 9px;
			}

			.tl_timeline .tl_event h2 {
				font-size: 12px;
				font-weight: bold;
				color: #2B4754;
			}

			.tl_timeline .tl_event p.tl_subtitle {
				font-size: 10px;
				font-weight: normal;
				color: #000;
			}

/* BUTTONS */

	.tl_timeline .tl_next, .tl_timeline .tl_previous {
		background: #1d2838 url(../images/triangle_left_white.png) no-repeat center;
	}

	.tl_timeline .tl_next {
		background: #1d2838 url(../images/triangle_right_white.png) no-repeat center;
	}
