
/*
 * Timeline - for jQuery 1.3+
 * http://codecanyon.net/item/timetable-for-events-with-php-jquery-and-xml/546355?ref=RikdeVos
 *
 * Copyright 2012, Rik de Vos
 * You need to buy a license if you want use this script.
 * http://codecanyon.net/user/RikdeVos?ref=RikdeVos
 *
 * Version: 1.2 (Mar 15 2012)
 */

/* SELECTOR BAR */
	.tl_timeline .tl_time_selector_bar {
		background: #CBDC40;
		color: #2B4754;
	}

	.tl_timeline .tl_time_selector_bar .tl_slidable_slider {
	    /* RGBa with .10 opacity */
	    background: rgba(0, 0, 0, .2);
	}

		.tl_timeline .tl_location .tl_the_location {
            background: #213840;
            color: #fff;
		}

			.tl_timeline .tl_location .tl_the_location h3 {
				color: #fff;
			}

			.tl_timeline .tl_location .tl_the_location p.tl_the_location_subtitle {
				color: #fff;
			}

	    .tl_slidable {
	        background: #213840;
	    }

/* INDICATOR BAR */
	.tl_timeline .tl_time_indicator {
		background: #000;
	}

    .tl_timeline .tl_time_indicator ul li {
        color: #fff;
    }
        /* EVENT */
		.tl_timeline .tl_event {
			background: #C7DB3E;
			color: #2B4754;

	        -moz-border-radius-topleft: 5px;
	        -moz-border-radius-topright:5px;
	        -webkit-border-top-left-radius:5px;
	        -webkit-border-top-right-radius:5px;
	        border-top-left-radius:5px;
	        border-top-right-radius:5px;


		}

			.tl_timeline .tl_event[data-info-showing=true] {
				background: #C7DB3E;
			}

			.tl_timeline .tl_event[data-info-showing=true]:after {
				background: #DDE96D;
			}


		.tl_timeline .tl_the_timeline .tl_the_timeline_content {
            background: #DCDCDC url(../images/grid_white.png) repeat left top;
		}

		/* DETAILS OF EVENT */

		.tl_timeline .tl_event_details {
			border-top: 1px solid #d2d2d2;
			border-left: 1px solid #d2d2d2;
			background: #DDE96D;
			color: #2B4754;

	        -moz-border-radius-bottomleft:20px;
	        -moz-border-radius-bottomright:20px;
	        -webkit-border-bottom-left-radius:20px;
	        -webkit-border-bottom-right-radius:20px;
	        border-bottom-left-radius:20px;
	        border-bottom-right-radius:20px;

		}
			.tl_timeline .tl_event .tl_event_time {
				color: #2B4754;
				font-size: 9px;
			}

			.tl_timeline .tl_event h2 {
				font-size: 12px;
				font-weight: bold;
				color: #2B4754;
			}

			.tl_timeline .tl_event p.tl_subtitle {
				font-size: 10px;
				font-weight: normal;
				color: #000;
			}

/* BUTTONS */

	.tl_timeline .tl_next, .tl_timeline .tl_previous {
		background: #1D3138 url(../images/triangle_left_white.png) no-repeat center;
	}

	.tl_timeline .tl_next {
		background: #1D3138 url(../images/triangle_right_white.png) no-repeat center;
	}

/* INDICATOR */

.tl_timeline .tl_event_program_indicator.tl_active {
		background: #213840;
		border: 1px solid #213840;
		width: 10px;
		height: 10px;
		top: 33px;
	}
