
/*
 * Timeline - for jQuery 1.3+
 * http://codecanyon.net/item/timetable-for-events-with-php-jquery-and-xml/546355?ref=RikdeVos
 *
 * Copyright 2012, Rik de Vos
 * You need to buy a license if you want use this script.
 * http://codecanyon.net/user/RikdeVos?ref=RikdeVos
 *
 * Version: 1.2 (Mar 15 2012)
 */

/* balck demo */
body#onlyforthedemo {
	background: #000;
	color:#fff;
}
body#onlyforthedemo .style-switcher p {
    color:#000;
}
body#onlyforthedemo .link {
    color:#fff;
}

.tl_container {
	background: #000;
}

.tl_container p.tl_timeline_title {
	color: #fff;
}

/* SELECTOR BAR */
	.tl_timeline .tl_time_selector_bar {
		background: #820084;
		color: #fff;
	}

	.tl_timeline .tl_time_selector_bar .tl_slidable_slider {
	    /* RGBa with .10 opacity */
	    background: rgba(0, 0, 0, .2);
	}

		.tl_timeline .tl_location .tl_the_location {
            background: #8D8D8D;
	        background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#8D8D8D));
	        background: -webkit-linear-gradient(top, #000000, #8D8D8D);
	        background: -moz-linear-gradient(top, #000000, #8D8D8D);
	        background: -o-linear-gradient(top, #000000, #8D8D8D);
	        background: -ms-linear-gradient(top, #000000, #8D8D8D);
	        background: linear-gradient(top, #000000, #8D8D8D);
            color: #fff;
		}

			.tl_timeline .tl_location .tl_the_location h3 {
				color: #fff;
			}

			.tl_timeline .tl_location .tl_the_location p.tl_the_location_subtitle {
				color: #fff;
			}

		.tl_timeline .tl_location {
			background: #000;
		}

/* INDICATOR BAR */
	.tl_timeline .tl_time_indicator {
		background: #8D8D8D;
	    background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#8D8D8D));
	    background: -webkit-linear-gradient(top, #000000, #8D8D8D);
	    background: -moz-linear-gradient(top, #000000, #8D8D8D);
	    background: -o-linear-gradient(top, #000000, #8D8D8D);
	    background: -ms-linear-gradient(top, #000000, #8D8D8D);
	    background: linear-gradient(top, #000000, #8D8D8D);

	}

    .tl_timeline .tl_time_indicator ul li {
        color: #fff;
    }

		.tl_timeline .tl_the_timeline .tl_the_timeline_content {
            background: #000 url(../images/grid_white.png) repeat left top;

		}
        /* EVENT */
		.tl_timeline .tl_event {
			background: #300032;
			color: #000;
		}

		.tl_timeline .tl_event:hover {
			background: #C1C1C1;
	        background-image: -webkit-gradient(linear, left top, left bottom, from(#C1C1C1), to(#8D8D8D));
	        background: -webkit-linear-gradient(top, #C1C1C1, #8D8D8D);
	        background: -moz-linear-gradient(top, #C1C1C1, #8D8D8D);
	        background: -o-linear-gradient(top, #C1C1C1, #8D8D8D);
	        background: -ms-linear-gradient(top, #C1C1C1, #8D8D8D);
	        background: linear-gradient(top, #C1C1C1, #8D8D8D);
	        color: #000;
		}

			.tl_timeline .tl_event[data-info-showing=true] {
				background: #C1C1C1;
	            background-image: -webkit-gradient(linear, left top, left bottom, from(#C1C1C1), to(#8D8D8D));
	            background: -webkit-linear-gradient(top, #C1C1C1, #8D8D8D);
	            background: -moz-linear-gradient(top, #C1C1C1, #8D8D8D);
	            background: -o-linear-gradient(top, #C1C1C1, #8D8D8D);
	            background: -ms-linear-gradient(top, #C1C1C1, #8D8D8D);
	            background: linear-gradient(top, #C1C1C1, #8D8D8D);
	            color: #000;
			}

			.tl_timeline .tl_event[data-info-showing=true]:after {
				background: #C1C1C1;
	            background-image: -webkit-gradient(linear, left top, left bottom, from(#C1C1C1), to(#8D8D8D));
	            background: -webkit-linear-gradient(top, #C1C1C1, #8D8D8D);
	            background: -moz-linear-gradient(top, #C1C1C1, #8D8D8D);
	            background: -o-linear-gradient(top, #C1C1C1, #8D8D8D);
	            background: -ms-linear-gradient(top, #C1C1C1, #8D8D8D);
	            background: linear-gradient(top, #C1C1C1, #8D8D8D);
	            color: #000;
			}

		/* DETAILS OF EVENT */

		.tl_timeline .tl_event_details {
			border-top: 1px solid #d2d2d2;
			border-left: 1px solid #d2d2d2;
			background: #C1C1C1;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#C1C1C1), to(#ffffff));
            background: -webkit-linear-gradient(top, #C1C1C1, #ffffff);
            background: -moz-linear-gradient(top, #C1C1C1, #ffffff);
            background: -o-linear-gradient(top, #C1C1C1, #ffffff);
            background: -ms-linear-gradient(top, #C1C1C1, #ffffff);
            background: linear-gradient(top, #C1C1C1, #ffffff);
			color: #000;
		}

			.tl_timeline .tl_event .tl_event_time {
				color: #fff;
				font-size: 9px;
			}

			.tl_timeline .tl_event h2 {
				font-size: 12px;
				font-weight: bold;
				color: #fff;
			}

			.tl_timeline .tl_event p.tl_subtitle {
				font-size: 10px;
				font-weight: normal;
				color: #fff;
			}

/* BUTTONS */

	.tl_timeline .tl_next, .tl_timeline .tl_previous {
		background: #820084 url(../images/triangle_left_white.png) no-repeat center;
		background: rgba(130,0,132,.7) url(../images/triangle_left_white.png) no-repeat center;
    }

	.tl_timeline .tl_next {
		background: #820084 url(../images/triangle_right_white.png) no-repeat center;
		background: rgba(130,0,132,.7) url(../images/triangle_right_white.png) no-repeat center;

	}

.tl_print {
   background:#820084 url(../images/print.png);
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}

/* INDICATOR */

.tl_timeline .tl_event_program_indicator.tl_active {
		background: #fff;
		border: 1px solid #fff;
		width: 10px;
		height: 10px;
		top: 32px;
	}

.tl_timeline .tl_event:hover .tl_event_program_indicator.tl_active {
		background: #000;
		border: 1px solid #000;
}

.tl_timeline .tl_event[data-info-showing=true] .tl_event_program_indicator.tl_active {
		background: #000;
		border: 1px solid #000;
	}
