﻿@model TimeTableConverter.Models.TimeTableModel

@{
    var settings = Model.Settings;
    var timeTables = Model.timetable;
    var count = Math.Round((timeTables.calendarEndDate - timeTables.calendarStartDate).Days / (365.2425 / 12.0) * 2.0);
    var date = timeTables.fiscalYearStartDate;
    var currentYear = date.Year;
}

<!-- Timeline wrapper -->
<div class="tl_container" style="width: @Model.Settings.width;">

    @if (!string.IsNullOrEmpty(Model.Settings.title))
    {
        <p class="tl_timeline_title">@Model.Settings.title</p>
    }
    <div data-autoscroll="@Model.Settings.autoscroll"
         class="tl_timeline"
         data-increment="@Model.Settings.interval"
         data-hours="@(count - 2)"
         data-indicatorbar="@Model.Settings.indicatorbar.ToString().ToLower()"
         data-showProgram="@settings.program.ToString().ToLower()"
         data-addProgramText="@settings.add_program_text"
         data-removeProgramText="@settings.remove_program_text">

        <div>
            <span style="position: absolute; left: 10px;top: 5px;">@timeTables.fiscalYearTitle</span>
            <span style="position: absolute; left: 10px;top: 33px;">Calendar year</span>
        </div>

        <!-- Time Selector Bar -->
        <div style="left: 0px;" class="tl_time_selector_bar"></div>

        <!-- Time Indicator -->
        <div class="tl_time_indicator"></div>

        <!-- Next and previous buttons -->
        <a class="tl_next" href="#"></a>
        <a class="tl_previous" href="#"></a>
        <!-- Close Timeline div -->
    </div>
    <!-- Close timeline wrapper -->
</div>

<script>
    var initialTimetableData = JSON.parse('@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.timetable))');
</script>
