﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TimeTableConverter</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/timetable/css/colorbox.min.css" />
        <link rel="stylesheet" href="~/lib/timetable/css/timetable-lightgreen.min.css" />
        <link rel="stylesheet" href="~/css/timetable-html-updates.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/font-awesome.css" />
        <link rel="stylesheet" href="~/css/style.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <partial name="_CookieConsentPartial" />

    @RenderBody()
    <div class="overlay dark hidden" id="overlay"><i class="fa fa-5x fa-refresh fa-spin"></i> </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.1.7.1.js"></script>
        <script src="~/lib/timetable/js/jquery.colorbox-min.js"></script>
        <script src="~/lib/timetable/js/timetable-script.js"></script>
        <script src="~/lib/dayjs/dayjs.js"></script>
        <script src="~/js/dayJs-helpers.js"></script>
        <script src="~/js/site.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="https://unpkg.com/dayjs@1.7.8/dayjs.min.js"
                asp-fallback-src="~/lib/dayjs/dayjs.js"
                asp-fallback-test="window.dayjs && window.dayjs.unix"></script>
        <script src="~/lib/timetable/js/timetable-script.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
