html {
    overflow-y: scroll;
    height: 100%;
}

body {
    margin: 0;
    padding: 20px 0 0 0;
    font-family: Tahoma,Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: justify;
    color: black;
    background: #fff;
    height: 100%;
}

#container {
    width: 950px;
    margin: 0 auto;
}

.tl_timeline .tl_event[data-info-showing=true] {
    background: #fff;
}

/* overlay style */
.overlay.hidden{
    display: none;
}

.overlay.active {
    display:block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999999;
    border-radius: 3px;
}

.overlay .fa {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    color: #000;
    /*font-size: 30px;*/
}

.overlay {
    background: rgba(255, 255, 255, 0.7);
}

    .overlay.dark {
        background: rgba(0, 0, 0, 0.5);
    }
/* overlay style */
